.configurationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configurationForm__die-amount,
.configurationForm__players-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.configurationForm__die-config-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.configurationForm__die-config {
  padding: 1rem;
  border-bottom: 2px solid var(--beige);
}

.configurationForm button[type='submit'] {
  background-color: var(--pink);
  border-color: rgb(255, 119, 119);
}
