.App {
  padding: 1rem;
  color: var(--white);
}

.App h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-style: italic;
}

.App button {
  cursor: pointer;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  color: rgb(241, 242, 218);
  max-width: 300px;
}

.App button:hover:enabled {
  text-decoration: underline;
}
